{% extends 'base.html.twig' %}

{% block title %}MessageCM{% endblock %}

{% block body %}
    <h1>MessageCM</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message_cm.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ message_cm.titre }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ message_cm.text }}</td>
            </tr>
             <tr>
                <th>Image</th>
                <td>{{ message_cm.imagesCm }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_cm_index') }}">back to list</a>

    <a href="{{ path('message_cm_edit', {'id': message_cm.id}) }}">edit</a>

    {{ include('message_cm/_delete_form.html.twig') }}
{% endblock %}
